@import "tailwindcss";

@theme {
  --color-primary: #5044E5;
  --color-secondary: #F8F9FD
}

@layer base {
  html {
      font-family: "Outfit", sans-serif;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
